:root{
  --handle-position: 10%;
  --screen-height: 90%;
  --screen-width: 100%;
  --main-background: black;
  --tools-color: white;
}

body{
  padding: 0;
  margin: 0;
}

.stage{
  height: 100vh;
  display: flex;
}

.device-parent{
  position: relative;
  margin: auto;
  min-width: 150px;
  min-height: 510px;
  max-width: 350px;
  max-height: 710px;
  height: 90vh;
  width: 100%;
}

.device-skin-img{
  position: relative;
  height: 100%;
}

.device{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  max-height: 710px;
}

.screen-bg{
  position: absolute;
  height: 98%;
  z-index: -1;
  background: var(--main-background);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 32px;
  width: var(--screen-width);
}

.screen-wrap{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: var(--screen-height);
  width: var(--screen-width);
  z-index: 1;
  color: white;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 32px;
}

.screen-wrap .screen{
  width: 90%;
  height: var(--screen-height);
  position: relative;
}

/*TIMELINE EVENT*/

.timeline,
.timeline:hover{
  transition: height .2s;
}

.progress-bar-container{
  position: absolute;
  width: 100%;
  bottom: 30px;
  left: 0;
  cursor: pointer;
}

.timeline{
  position: relative;
  width: 100%;
  height: 5px;
  background-color: #c0c0c082;
  cursor: pointer;
}

.timeline::before{
  content: '';
  position: absolute;
  width: var(--handle-position);
  height: 100%;
  background: red;
  cursor: pointer;
}

.point{
  position: absolute;
  left: calc(var(--handle-position) - 10px);
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50px;
  top: -8px;
  transform: scale(0);
  cursor: pointer;
  z-index: 2;
  transition: transform .2s;
  pointer-events: none;
}

.timeline:hover {
  height: 10px;
}

.timeline:hover .point{
  transition: transform .2s;
  transform: scale(1.2);
  top: -50%;
}

/*DOT EVENT*/

.dot{
  position: absolute;
  background: red;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

/*PAINT EVENT*/

.tools{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0 10px;
}

.tools > div{
  width: 100%;
}

.tools .tools-other{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.tools .tool{
  display: flex;
  position: relative;
  color: var(--tools-color);
  width: 30px;
  height: 30px;
}

.tools .tool .icon{
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  pointer-events: none;
}

.tools .tool input{
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.tools .tool-clear-screen .clear-screen{
  width: 100%;
  height: 100%;
}

.tools .tool-color input{
  border: none;
  padding: 0;
}

.tools .tool-color input::-webkit-color-swatch-wrapper{
	padding: 0;
  background: var(--main-background);
  border-radius: 50%;
}

.tools .tool-color input::-webkit-color-swatch{
	border: 1px solid var(--tools-color);
  border-radius: 50%;
}

.tools .tool-size{
  flex-direction: column;
  align-items: center;
}

.tools .tool-bg-color input{
  width: 30px;
  height: 30px;
  border: 1px solid;
  border-radius: 50%;
}

.paint:hover{
  cursor: url(../img/pngegg.png) 0 50, pointer;
}