:root{
  --handle-position: 10%;
  --screen-height: 90%;
  --screen-width: 100%;
}

body{
  padding: 0;
  margin: 0;
}

.stage{
  height: 100vh;
  display: flex;
}

.device-parent{
  position: relative;
  margin: auto;
  min-width: 150px;
  min-height: 510px;
  max-width: 350px;
  max-height: 710px;
  height: 90vh;
  width: 100%;
}

.device-skin-img{
  position: relative;
  height: 100%;
}

.device{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  max-height: 710px;
}

.screen-bg{
  position: absolute;
  height: 98%;
  z-index: -1;
  background: black;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 32px;
  width: var(--screen-width);
}

.screen-wrap{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: var(--screen-height);
  width: var(--screen-width);
  z-index: 1;
  color: white;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 32px;
}

.screen-wrap .screen{
  width: 90%;
  height: var(--screen-height);
  position: relative;
}

.dot{
  position: absolute;
  background: red;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
